<div
  class="container-fluid bg-dark-subtle min-vh-100 d-flex flex-column justify-content-center align-items-center"
>
  <!-- virsraksts un ikonina no bootstrap -->
  <div class="text-center mb-4">
    <h1 class="display-5 fw-semibold text-success">
      <i class="bi bi-calendar-check me-2"></i>
      Esi sveicināts pasākumu organizatorā!
    </h1>
  </div>

  <!-- login forma -->
  <div class="col-12 col-sm-8 col-md-6 col-lg-4">
    <div class="card shadow border-0 rounded-4 bg-white">
      <div class="card-body p-4">
        <h2 class="text-center mb-4 text-success">Pieslēgties</h2>

        <!-- username -->
        <div class="mb-3">
          <input
            class="form-control"
            type="text"
            placeholder="Lietotājvārds"
            [field]="loginForm.username"
          />
          @if (loginForm.username().touched() && loginForm.username().invalid()) { @for (err of
          loginForm.username().errors(); track $index) {
          <small class="text-danger d-block">{{ err.message }}</small>
          } }
        </div>

        <!-- passww -->
        <div class="mb-3">
          <input
            class="form-control"
            type="password"
            placeholder="Parole"
            [field]="loginForm.password"
          />
          @if (loginForm.password().touched() && loginForm.password().invalid()) { @for (err of
          loginForm.password().errors(); track $index) {
          <small class="text-danger d-block">{{ err.message }}</small>
          } }
        </div>

        <!-- button pieslegties-->
        <button
          class="btn btn-success w-100 mb-3"
          type="button"
          (click)="logInUser(loginForm().value())"
          [disabled]="!loginForm().valid()"
        >
          Pieslēgties
        </button>

        <!-- poga registere -->
        <div class="text-center">
          <button class="btn btn-outline-success w-100" type="button" (click)="goToRegister()">
            Reģistrēties
          </button>
        </div>

        <!-- validacijas kludas pazinoja -->
        @if (!loginForm().valid() && loginForm.username().touched() &&
        loginForm.password().touched()) {
        <small class="text-danger d-block mt-2 text-center">
          Lūdzu, salabo kļūdas laukos pirms pieslēgšanās.
        </small>
        }
      </div>
    </div>
  </div>
</div>
